# Python
__pycache__/
*.py[cod]
*.egg-info/
env/
venv/
.venv/
.Python
pip-log.txt
pip-delete-this-directory.txt

# Jupyter
.ipynb_checkpoints
# *.ipynb

# Data
# data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# VS Code
.vscode/
*.code-workspace

# Environment files
.env
.env.*

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs and outputs
*.log
outputs/
reports/

# Pytest cache
.pytest_cache/
